.heading-div {
  padding: 20px;
}

.parent-div-1 {
  margin-right: 10px;
  float: left;
}

.parent-div-2 {
  float: right;
  width: 120px;
}

.child-div {
  float: left;
  margin-right: 15px;
  font-size: 20px;
}

a {
  cursor: pointer;
}
